<!DOCTYPE html>
<html>
  <head>
    <title>Medialto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">
          <h1>MEDIALTO</h1>
        </div>
        <div class="navbar-select">
          <div class="home-home">
            <p><strong><%= link_to "Home", root_path %></strong></p>
          </div>
          <div class="home-servive">
            <p><%= link_to "unser Service", service_path %></p>
          </div>
          <div class="home-jobs">
            <p><%= link_to "Jobs", jobs_path %></p>
          </div>
          <div class="home-kontakt">
            <p><%= link_to "Kontakt", kontakt_path %></p>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
